if NINTENDO64

choice
	prompt "Devicetree selection"
	default DTB_NINTENDO64
	help
	  Select the devicetree.

	config DTB_NINTENDO64
		bool "Nintendo 64 (8MiB memory)"
		select BUILTIN_DTB

endchoice

config NINTENDO64_EMUHACK
	bool "Nintendo 64 emulator workaround"
	help
	  Some N64 emulators does not emulate R4300 accurately.
	  If you say Y here, N64Linux will run on such emulators.
	  You do not need to say Y if you run N64Linux on a real N64.

endif
