if NINTENDO64

choice
	prompt "Devicetree selection"
	default DTB_NINTENDO64
	help
	  Select the devicetree.

	config DTB_NINTENDO64
		bool "Nintendo 64 (8MiB memory)"
		select BUILTIN_DTB

endchoice

endif
