if NINTENDO64

config NINTENDO64_USE_DEVTREE
	bool "Use device tree"
	select USE_OF
	help
	  If you say Y, the OpenFirmware framework is enabled, and
	  Nintendo 64 codes operates on a device tree with that.
	  The kernel become little generic, but size become larger.

if USE_OF

choice
	prompt "Devicetree selection"
	default DTB_NINTENDO64
	help
	  Select the devicetree.

	config DTB_NINTENDO64
		bool "Nintendo 64 (8MiB memory)"
		select BUILTIN_DTB

endchoice

endif

config NINTENDO64_EMUHACK
	bool "Nintendo 64 emulator workaround"
	help
	  Some N64 emulators does not emulate R4300 accurately.
	  If you say Y here, N64Linux will run on such emulators.
	  You do not need to say Y if you run N64Linux on a real N64.

endif
